<h1>Finance Outlook</h1>

<%= link_to 'Sync All', sync_all_connections_path,
              method: :post %> |
<%= link_to 'Bank Connections', connections_path %> |
<%= link_to 'Funds', funds_path %> |
<%= link_to "All Transactions", transactions_path %> | 
<%= link_to "Money Mover", money_mover_path(cycle: 1) %> | 
<%= link_to "Credit Cards", credit_cards_path %>

<h2>Transaction Inbox</h2>
<%= link_to "Download", dashboard_path(format: 'csv') %>
<table class="table">
<thead>
<tr>
<th></th>
<th>Assign</th>
<th>Date</th>
<th>Account</th>
<th>Name</th>
<th>Amount</th>
</tr>
</thead>
<tbody>
  <% @transactions.each do |t| %>
    <tr>
    <td>
        <button 
          type="button" 
          class="btn btn-light" 
          onclick="clearTransaction(this, <%=t.account.connection.id%>, <%=t.account.id%>, <%=t.id%>)">
          Clear
        </button>
      </td>
      <td>
        <select onchange="assignTransaction(this, <%=t.account.connection.id%>, <%=t.account.id%>, <%=t.id%>)">
          <option>Assign</option>
          <% @funds.each do |fund| %>
            <option value="<%=fund.id%>"><%=fund.name%></option>
          <% end %>
        </select>
        <br />
        <% t.suggested_funds.each_with_index do |sf, idx| %>
          <% if idx > 0 %>
            | 
          <% end %>
          <button type="button" onclick="assignTransactionFund(this, <%=sf[:fund]&.id%>, <%=t.account.connection.id%>, <%=t.account.id%>, <%=t.id%>)" class="btn btn-link"><%=sf[:fund]&.name%></button>
        
        <% end %>
        <%= link_to 'Split', split_connection_account_transaction_path(t.account.connection, t.account, t), class: 'btn btn-link'%>
      </td>
      <td><%=t.date%></td>
      
      <td>
        <%=t.account.name%><br />
        <%=t.account.connection.name%>
      </td>
      <td>
        <span title="<%=t.id%>">
          <%=t.name%>
        </span>
        <br />
        <textarea class="note" placeholder="Enter assignment notes here..."></textarea>
      </td>
      <td>
        <%=number_to_currency(t.amount * -1)%><br/>
        <%= 'pending' if t.pending %>
      </td>
      
    </tr>
  <% end %>
</tbody>
</table>

<h2>Money Flow</h2>
<canvas id="flow-by-month"></canvas>

<h2>Totals</h2>
<canvas id="totals-by-month"></canvas>

<h2>Account Snapshot</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cash</th>
      <th>Credit</th>
      <th>Uncleared</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Total:</strong>
      </td>
      <td style="font-weight: bold;"><%=number_to_currency(@cash_total)%></td>
      <td style="font-weight: bold;"><%=number_to_currency(@credit_total)%></td>
      <td style="font-weight: bold;"><%=number_to_currency(@uncleared_total)%></td>
      <td style="font-weight: bold;"><%=number_to_currency(@available_total)%></td>

    </tr>
    <% @accounts.each do |a| %>
      <tr>
        <td>
          <% unless a.sync_ok? %>
            <span class="oi oi-warning text-danger" title="person" aria-hidden="true"></span>
          <% end %>
          <%=link_to a.name, connection_account_path(a.connection, a) %> <br/>
          <%=a.connection.name%><br/>
          <%=a.account_type%> - <%=a.account_subtype%>
        </td>
        <td><%=number_to_currency(a.cash_amount)%></td>
        <td><%=number_to_currency(a.credit_amount)%></td>
        <td><%=number_to_currency(a.uncleared_amount) if a.uncleared_amount%></td>
        <td <% if a.exclude_from_available%>class="text-muted"<% end %>><%=number_to_currency(a.available_amount) if a.available_amount%></td>

      </tr>
    <% end %>
  </tbody>
</table>



<script>

var flow_by_month_data = <%=@flow_by_month.to_json.html_safe%>;
var totals_by_month_data = <%=@totals_by_month.to_json.html_safe%>;

(function($) {
  function clearTransaction(button, connectionId, accountId, transactionId) {
    $(button).attr('disabled', true);
    $.ajax({
      url: '/connections/' + connectionId + '/accounts/' + accountId + '/transactions/' + transactionId + '/clear',
      type: 'post',
      data: {},
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      success: function(data) {
        $(button).closest('tr').hide('fast');
      }
    });
  }

  function assignTransaction(select, connectionId, accountId, transactionId) {
    $(select).attr('disabled', true);
    let fundId = $(select).val();

    let note = $(select).parent().parent().find('textarea.note').val()

    $.ajax({
      url: '/connections/' + connectionId + '/accounts/' + accountId + '/transactions/' + transactionId + '/assign?fund_id=' + fundId,
      type: 'post',
      data: {
        note: note
      },
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
      },
      success: function(data) {
        $(select).closest('tr').hide('fast');
      }
    });
  }

  function assignTransactionFund(button, fundId, connectionId, accountId, transactionId) {
    $(button).attr('disabled', true);

    let note = $(button).parent().parent().find('textarea.note').val()

    $.ajax({
      url: '/connections/' + connectionId + '/accounts/' + accountId + '/transactions/' + transactionId + '/assign?fund_id=' + fundId,
      type: 'post',
      data: {
        note: note
      },
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      success: function(data) {
        $(button).closest('tr').hide('fast');
      }
    });
  }

  window.clearTransaction = clearTransaction;
  window.assignTransaction = assignTransaction;
  window.assignTransactionFund = assignTransactionFund;
})(jQuery);
</script>
