<h1>Funds</h1>

<%= link_to "New Fund", new_fund_path %> |
<%= link_to 'Dashboard', root_path %>

<canvas id="funds-by-month"></canvas>

<table class="table">
  <thead>
    <tr>
      <th>Fund</th>
      <th></th>
      <th>Total</th>
      <th>Pending</th>
      <th>Expected Remaining</th>
      <th>Last Month</th>
      <th>3 Mo. Average</th>
      <th>6 Mo. Average</th>
      <th>12 Mo. Average</th>
    </tr>
    <tr>
    <th></th>
    <th></th>
    <th><%=number_to_currency(@funds.sum(&:total_this_month))%></th>
    <th><%=number_to_currency(@funds.sum(&:pending_amount))%></th>
    <th><%=number_to_currency(@funds.sum(&:expected_remaining))%></th>
    <th><%=number_to_currency(@funds.sum(&:total_last_month))%></th>
    <th><%=number_to_currency(@funds.sum { |fund| fund.average_n_months(3) })%></th>
    <th><%=number_to_currency(@funds.sum { |fund| fund.average_n_months(6) })%></th>
    <th><%=number_to_currency(@funds.sum { |fund| fund.average_n_months(12) })%></th>
    </tr>
    
  </thead>
  <tbody>
   <% @funds.sort_by { |f| f.average_n_months(3) }.reverse.each do |fund| %>
    <tr>
      <td><%=link_to fund.name, fund_path(fund) %></td>
      <td>
        <button 
          type="button" 
          class="btn btn-light btn-clear" 
          data-fund-id="<%=fund.id%>"
          >
          Clear
        </button>
      </td>
      <td>
        <%=number_to_currency(fund.total_this_month)%>
      </td>
      <td class="pending">
        <%=number_to_currency(fund.pending_amount)%>
      </td>
      <td>
        <%=number_to_currency(fund.expected_remaining)%>
      </td>
      <td>
        <%=number_to_currency(fund.total_last_month)%>
        <% if fund.total_last_month > fund.average_n_months(3) %>
          <!-- Upward Arrow -->
          <span style="text-weight: bold; color: red;">&#x21D7;</span>
        <% else %>
          <!-- Downward Arrow -->
          <span style="text-weight: bold; color: green;">&#x21D8;</span>
        <% end %>
      </td>
      <td>
        <%=number_to_currency(fund.average_n_months(3))%>
        <% if fund.average_n_months(3) > fund.average_n_months(6) %>
          <!-- Upward Arrow -->
          <span style="text-weight: bold; color: red;">&#x21D7;</span>
        <% else %>
          <!-- Downward Arrow -->
          <span style="text-weight: bold; color: green;">&#x21D8;</span>
        <% end %>
      </td>
      <td>
        <%=number_to_currency(fund.average_n_months(6))%>
        <% if fund.average_n_months(6) > fund.average_n_months(12) %>
          <!-- Upward Arrow -->
          <span style="text-weight: bold; color: red;">&#x21D7;</span>
        <% else %>
          <!-- Downward Arrow -->
          <span style="text-weight: bold; color: green;">&#x21D8;</span>
        <% end %>
      </td>
      <td>
        <%=number_to_currency(fund.average_n_months(12))%>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

<script>
var funds_by_month_data = <%=@funds_by_month.to_json.html_safe%>;

(function($) {
  $(document).ready(function() {
    $('.btn-clear').click(function(event) {
      let button = $(event.target);
      let fundId = button.attr('data-fund-id');

      clearFund(button, fundId);
    });

    function clearFund(button, fundId) {
      $(button).attr('disabled', true);
      $.ajax({
        url: '/funds/' + fundId + '/clear_all_pending',
        type: 'post',
        data: {},
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        success: function(data) {
          $(button).closest('tr').find('td.pending').text('$0.00');
          $(button).removeAttr('disabled');
        },
        error: function(xhr, status, errorThrown) {
          $(button).removeAttr('disabled');
          alert('Failed to clear fund: ' + errorThrown);
        }
      });
    }
  });
})(jQuery);
</script>
