<!DOCTYPE html>
<html>
  <head>
    <title>Money Flow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield(:head) %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash-<%=type%> alert alert-info">
        <%= msg %>
      </div>
    <% end %>

    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
