<h1>Edit Account</h1>

<%= link_to 'Back', connection_path(@family, @connection) %>

<%= form_with(model: @account, local: true, url: connection_account_url(@family, @connection, @account)) do |form| %>
 
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this account from being saved:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%=@connection.name%><br/>
    <%=@account.name%>
  </div>
 
  <div class="form-check">
      <%= form.check_box :hidden_from_snapshot, class: 'form-check-input' %>
      <%= form.label 'Hide from Snapshot', class: 'form-check-label' %>
  </div>

  <div class="form-check">
      <%= form.check_box :exclude_from_available, class: 'form-check-input' %>
      <%= form.label 'Exclude from Available Balance', class: 'form-check-label' %>
  </div>

  <div class="form-check">
      <%= form.check_box :archived, class: 'form-check-input' %>
      <%= form.label 'Archive', class: 'form-check-label' %>
  </div>

  <% if @account.account_type == 'credit' %>
  <div class="form-group">
    <label>Payment URL</label>
    <%= form.text_field :payment_link, class: 'form-control' %>
  </div>
  <% end %>
 
  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
 
<% end %>
 
